<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us - Budgetbites</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="about-body">
    <div class="about-container">
      <div class="about-main-content">
        <h1>Welcome to <strong class="about-strong">BudgetBites!</strong></h1>
        <p>Click "Home" to log in or make an account, or click "Search" to
          search for recipes now!</p>
      </div>
      <section class="about-section-container">
        <figure class="about-figure">
          <img src="/images/instanramen.jpg" alt="Team Photo" />
        </figure>
        <section class="about-story-container" id="story">
          <h2>Our Story</h2>
          <p>We're a group of broke college students who wanted to make cooking
            easier and more affordable for ourselves and our peers. Faced with
            the challenge of finding cheap and tasty recipes online, we decided
            to take matters into our own hands.</p>
          <p>With a shared passion for good food and a tight budget, we created
            Budget Bites. Our website is a hub for simple, wallet-friendly
            recipes tailored to the college lifestyle. From quick microwave
            meals to easy one-pot wonders, we've gathered recipes that anyone
            can make without breaking the bank.</p>
          <p>Our goal is to help students eat well without spending a fortune.
            Join us on our mission to make cooking accessible and enjoyable for
            everyone. Welcome to Budget Bites, where tasty meals meet tight
            budgets!</p>
        </section>
      </section>
      <aside class="about-team-container">
        <h2 class="about-team-title">Meet the Team</h2>
        <ul class="about-team-list">
          <li>Donny</li>
          <li>Vanessa</li>
          <li>Ima</li>
          <li>Alex</li>
          <li>Owen</li>
          <li>Johnny</li>
        </ul>
      </aside>
    </div>
  </body>
</html>