<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="stylesheet" href="/css/style.css" />
    <style>
      .custom-paragraph { font-size: 15px; }
    </style>

  </head>
  <body class="custom-body">
    <main class="custom-main">
      <section class="section-container">
        <h1>
          Welcome to Budgetbites!
        </h1>

        <p class="custom-paragraph">Click home to log in or make an account or
          click search to search for recipes now!</p>

        <div class="form-group" style="margin-bottom: 40px;"></div>

        <h2>Our Story</h2>
        <p>We're a group of broke college students who wanted to make cooking
          easier and more affordable for ourselves and our peers. Faced with the
          challenge of finding cheap and tasty recipes online, we decided to
          take matters into our own hands.</p>
        <p>With a shared passion for good food and a tight budget, we created
          Budget Bites. Our website is a hub for simple, wallet-friendly recipes
          tailored to the college lifestyle. From quick microwave meals to easy
          one-pot wonders, we've gathered recipes that anyone can make without
          breaking the bank.</p>
        <p>Our goal is to help students eat well without spending a fortune.
          Join us on our mission to make cooking accessible and enjoyable for
          everyone. Welcome to Budget Bites, where tasty meals meet tight
          budgets!</p>
      </section>

      <figure class="food-image">
        <img src="/images/instanramen.jpg" alt="Team Photo" />
      </figure>

      <section class="section-container">
        <h2>Meet the Team</h2>
        <ul>
          <li>Donny</li>
          <li>Vanessa</li>
          <li>Ima</li>
          <li>Alex</li>
          <li>Owen</li>
          <li>Johnny</li>
        </ul>
      </section>

    </main>
  </body>
</html>