<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/style.css" />
<title>Recipe Form</title>
<style>

    .recipe-body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
    }
    .recipe-form-container {
        max-width: 600px;
        margin: 0 auto;
    }
    .recipe-form-container input[type="text"], .recipe-form-container textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    .recipe-form-container .instruction-inputs {
        margin-bottom: 10px;
    }
    .recipe-form-container .add-button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    .recipe-form-container .add-button:hover {
        background-color: #45a049;
    }
    .recipe-form-container .remove-button {
        background-color: #f44336;
        color: white;
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    .recipe-form-container .remove-button:hover {
        background-color: #da190b;
    }
</style>
</head>
<body class="recipe-body">

<div class="recipe-form-container">
    <h2>Recipe Form</h2>
    <form id="recipeForm" action="#" method="post">
        <label for="username">Username:</label>
        <textarea type="text" id="username" name="username" placeholder="Add your username so we can add this recipe to your account!" required></textarea>
        
        <label for="recipeName">Recipe Name:</label>
        <textarea type="text" id="recipeName" name="recipeName" placeholder="Please enter your recipe name." required></textarea>
        
        <div class="ingredient-inputs">
            <h3>Ingredients:</h3>
            <textarea id="ingredients" name="ingredients" placeholder="Enter the ingredients needed for your recipes separated by commas." required></textarea>
        </div>

        <div class="instruction-inputs">
            <h3>Instructions:</h3>
            <textarea id="instructions" name="instructions" placeholder="Please enter your instructions as seperate numbered steps (ex. 1.2.3.)" required></textarea>
        </div>


        

        <input type="submit" value="Submit">
    </form>
</div>



</body>
</html>